.circle-img{
    border-radius: 50%;
}
.logo {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    padding: 1rem 0;
}
.nav-item {
    display: flex;
    text-decoration: none;
    list-style: none;
    margin-right: 2rem;
}
.nav-item:first-child {
    margin-right: auto;
    margin-left: 2rem;
}
.push {
    display: flex;
    margin-left: auto;
}
p {
    background-color: lightgray;
    display: flex;
    justify-content: center;
}
.bottom-nav {
    position: fixed;
    bottom: 10px;
}
.search, .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
a {
    color:black;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}